{% extends 'entrega_final_app/base.html'%}


{%block titulo%} About {%endblock%}

{%block main%}

<h5> About Me</h5>
<p>
    Mi nombre es Alejandro Mayer y tengo 32 años. 
    Actualmente me encuentro trabajando como soporte técnico Sr. para un aplicativo web y, en su mayoría, utilizo C# y lenguajes de bases de datos relacionales.
    Me anoté en este curso para aumentar mis conocimientos en el área de programación en python. 
    Python es uno de los lenguajes que aprendí en mis inicios en la facultad y le tengo mucho cariño y me agrada programar en él, lo encuentro más amigable que otros lenguajes.
    Mi meta con este curso es aprender lo suficiente como para poder capacitarme y lograr hacer el salto de soporte ténico a Dev que, con suerte, lo lograré para fin de año aunque sea de programador Jr.
</p>

{% endblock %}