{% extends 'entrega_final_app/base.html' %}

{% block title %} juegos {% endblock %}

{% block titulo %} Busqueda de juegos por categoria{%endblock%}

{%block listado%}

<form>
    <p>
        <label for = "criterio_categoria"> Criterio:</label>
        <input type="text" name="criterio_categoria" maxlength="100" required="" id="criterio_categoria">
    </p>
    <p>
        <input type="submit" value="Buscar">
    </p>
</form>

<ul>
    {% for juego in juegos %}
        <li> {{juego}} </li>
        <a href="{% url 'juegos-detail' juego.id %}"> Detalle </a>
        <a href="{% url 'juegos-update' juego.id %}"> Actualizar </a>
    {% endfor %}
</ul>
{% endblock %}

{% block endtitle %} Buscar Juegos {% endblock %}