{% extends 'entrega_final_app/base.html' %}

{% block title %} juegos {% endblock %}

{% block titulo %} Busqueda de juegos por categoria{%endblock%}

{%block listado%}

{% if not juegos%}
<h2> No hay publicaciones disponibles.</h2>
{% endif %}

<form>
    <p>
        <label for = "criterio_categoria"> Criterio:</label>
        <input type="text" name="criterio_categoria" maxlength="100" required="" id="criterio_categoria">
    </p>
    <p>
        <input type="submit" value="Buscar">
    </p>
</form>

<ul>
    <ul>
        {%  for juego in juegos %}
        <li>
            Id_{{juego.id}} - Nombre:  {{juego.nombre}} - Tipo: {{juego.tipo}} 
            <a href="{% url 'juegos-detail' juego.id %}"> Detalle </a> 
            {% if user.is_authenticated and juego.publisher.id == user.id %}
            -
            <a href="{% url 'juegos-update' juego.id %}"> Actualizar </a>
            -
            <a href="{% url 'juegos-delete' juego.id %}"> Borrar </a>
            {% endif %}
        </li> 
        {% endfor %}
    </ul>
</ul>
{% endblock %}

{% block endtitle %} Buscar Juegos {% endblock %}