{% extends 'entrega_final_app/base.html'%}


{%block titulo%} Listado de juegos {%endblock%}


{%block listado%}
    <ul>
        {% if not juegos%}
            <h2> No hay publicaciones disponibles.</h2>
        {% endif %}
        
        {%  for juego in juegos %}
        <li>
            Id_{{juego.id}} - Nombre:  {{juego.nombre}} - Tipo: {{juego.tipo}} 
            <a href="{% url 'juegos-detail' juego.id %}"> Detalle </a> 
            {% if user.is_authenticated and juego.publisher.id == user.id %}
            -
            <a href="{% url 'juegos-update' juego.id %}"> Actualizar </a>
            -
            <a href="{% url 'juegos-delete' juego.id %}"> Borrar </a>
            {% endif %}
        </li> 
        {% endfor %}
    </ul>
{% endblock %}

{% block title %} Juegos {% endblock %}