{% extends 'entrega_final_app/base.html'%}

{%block titulo%} ¡Alerta! - Una vez borrado el post no se puede recuperar{%endblock%}

{%block main%}
<h5>¿Estas seguro que deseas borrar el post de " {{object.nombre}} "?</h5>
<h5>Para borrar permanentemente la publicación presione el botón "Borrar"</h5>

<form method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Borrar">

    <a href="{% url 'juegos' %}"> Volver sin modificar</a>
</form>

{% endblock %}

{% block title %} Alta de juegos {% endblock %}