{% extends 'entrega_final_app/base.html' %}

{% block title %} Usuarios {% endblock %}

{% block titulo %} Busqueda de usuarios {%endblock%}

{%block listado%}

<form>
    <p>
        <label for = "criterio_usuario"> Criterio:</label>
        <input type="text" name="criterio_usuario" maxlength="100" required="" id="criterio_usuario">
    </p>
    <p>
        <input type="submit" value="Buscar">
    </p>
</form>

<ul>
    {% for usuario in usuarios %}
        <li> {{usuario}} </li>
    {% endfor %}
</ul>
{% endblock %}

{% block endtitle %} Buscar usuarios {% endblock %}